@font-face {
    font-family: 'Work Sans';
    src: url('../../assets/fonts/static/WorkSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../../assets/fonts/static/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../../assets/fonts/static/WorkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --purple: hsl(281, 83%, 54%);
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);

    /*========== Font and typography ==========*/
    --font-family: "Work Sans", sans-serif;
    --font-title-shadow: 4rem;
    --biggest-font-size: 2.5rem; /* 40px */
    --line-height-biggest: 3rem;
    --h1-font-size: 2.25rem; /* 36px */
    --line-height-h1: 2.5rem; /* 40px */
    --h2-font-size: 1.5rem; /* 24px */
    --line-height-h2: 2rem; /* 32px */
    --h3-font-size: 1.25rem; /* 20px */
    --line-height-h3: 1.75rem; /* 28px */
    --normal-font-size: .875rem; /* 16px */
    --line-height-normal: 1.5rem; /* 24px */
    --small-font-size: .875rem; /* 14px */
    --line-height-small: 1.25rem; /* 20px */
    --smaller-font-size: .75rem; /* 12px */
    --line-height-smaller: 1rem; /* 16px */
    --tiny-font-size: .625rem;  /* 10px */
    --line-height-tiny: .875rem; /* 14px */
}