:root {
    /* Primary colors */
    --green: hsl(75, 94%, 57%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);

    /*========== Font and typography ==========*/
    --font-family: "Inter", sans-serif;
    --font-title-shadow: 4rem;
    --biggest-font-size: 2.5rem; /* 40px */
    --line-height-biggest: 3rem;
    --h1-font-size: 2.25rem; /* 36px */
    --line-height-h1: 2.5rem; /* 40px */
    --h2-font-size: 1.5rem; /* 24px */
    --line-height-h2: 2rem; /* 32px */
    --h3-font-size: 1.25rem; /* 20px */
    --line-height-h3: 1.75rem; /* 28px */
    --normal-font-size: .875rem; /* 16px */
    --line-height-normal: 1.5rem; /* 24px */
    --small-font-size: .875rem; /* 14px */
    --line-height-small: 1.25rem; /* 20px */
    --smaller-font-size: .75rem; /* 12px */
    --line-height-smaller: 1rem; /* 16px */
    --tiny-font-size: .625rem;  /* 10px */
    --line-height-tiny: .875rem; /* 14px */
}